<div class="ng-header">
    <div class="firstHeaderRow">
        <div class="firstHeaderContainer container">
            <div class="mainLogoContainer">
	       <div class="logo right">
		<img src="assets/images/logo.png">
               </div>
            </div>
            <div class="headerButtonsContainer">
                <div class="notLoggedInContainer">
                    <div class="loginRegContainer">
		        <div>
                        <a class="np-menu">Login</a>
			</div>
			<div>
                        <a class="np-menu">Sign-up</a>
			</div>  
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="secondHeaderRow">
        <div class="secondHeaderContainer container">
            <div class="mainSearchMenuBarContainer">
	        <div>
		   <i class="fas fa-search"></i>
		</div>
		<div>
                   <input type="text" pInputText placeholder="Search Sports" style="marginLeft: 5px">
		</div>
		<div class="menuBarContainer">
		   <div class="subMenuBarContainer">
		     <p-menubar [model]="items">
                     </p-menubar> 
                   </div>
                </div>
            </div>
        </div>

    </div>
    -->
</div>